<div class="row">
    <div class="col-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search Assets" @bind-value="@AssetFilter">
            <button class="btn btn-primary" type="button" @onclick="@(() => SearchAssets.InvokeAsync(AssetFilter))">Search</button>
        </div>
    </div>

    <div class="col-1">
        <button class="btn btn-secondary" @onclick="@(() => ResetFilter.InvokeAsync())">Reset</button>
    </div>
</div>

@code {
    [Parameter]
    public string AssetFilter { get; set; } = "";

    [Parameter] 
    public EventCallback ResetFilter { get; set; }

    [Parameter] 
    public EventCallback<string> SearchAssets { get; set; }
    
}