@page "/assets"
@page "/assets/{categoryId:int}"

@inject NavigationManager NavigationManager

<div class="row">
    <h3 class="mb-3">Assets</h3>

    <div class="row mb-3">
        <div class="col-12 col-md-3">
            <a href="/assets/add" class="btn btn-secondary">Add Asset</a>  
        </div>
    </div>
    
    <div class="hstack gap-4 mb-3">
        @foreach (var category in _categories)
        {
            <button class="btn btn-primary" @onclick="() => SelectCategory(category.CategoryId)">@category.Name</button>   
        }
    </div>
    
    <div class="col-4 d-flex gap-4 flex-wrap w-100">
        @foreach (var asset in _filteredAssets)
        {
            <AssetItem Asset="asset"/>   
        }
    </div>
</div>

@code {
    [Parameter]
    public int? CategoryId { get; set; }
    
    private readonly List<Asset> _assets = AssetsRepository.GetAssets();
    
    private readonly List<Category> _categories = CategoriesRepository.GetCategories();
    
    private List<Asset> _filteredAssets = [];
    
    protected override void OnParametersSet()
    {
        if (CategoryId.HasValue)
        {
            _filteredAssets = _assets.Where(a => a.CategoryId == CategoryId.Value).ToList();
        }
        else
        {
            _filteredAssets = _assets;
        }
    }
    
    private void SelectCategory(int id)
    {
        NavigationManager.NavigateTo($"/assets/{id}");
    }
}